.btn {
  width: 131px;
  height: 48px;
  border-radius: 8px;
  background: #31c3e0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 114.286%;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #ff7b29;
}
