@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  font-family: inherit;
  color: inherit;
  outline: none;
}

select {
  border: none;
}

input {
  background: transparent;
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill:hover {
  transition: background-color 1s 999999s, color 1s 999999s;
}

.icon {
  filter: var(--icon-color);
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slick-dots li.slick-active button:before {
  color: #ff7b29;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.active-item {
  color: #2d3134;
  font-weight: 550;
}
.active-item::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #ff7b29;
}

.timer__desc {
  color: #a5a8b4;
  font-family: "Inter 18pt";
  font-size: 0.6rem;
  font-weight: 500;
}

.timer__number {
  color: #0d1e3f;
  font-family: "Inter 18pt";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 122.222%;
}

.slick-slide {
  padding: 0 10px; /* Khoảng cách giữa các item */
}

.slider-container {
  margin-top: 30px;
}

.btn {
  width: 131px;
  height: 48px;
  border-radius: 8px;
  background: #31c3e0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 114.286%;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #ff7b29;
}

.reason {
  margin-top: 142px;
}
@media (max-width: 767.98px) {
  .reason {
    margin-top: 60px;
  }
}
.reason__img-wrap {
  position: relative;
  padding-top: 100%;
  height: 518px;
}
.reason__img {
  border-radius: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reason__heading {
  margin-top: 19px;
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
@media (max-width: 767.98px) {
  .reason__heading {
    margin-top: 0;
    font-size: 2.4rem;
  }
}
.reason__desc {
  width: 493px;
  margin-top: 16px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
@media (max-width: 991.98px) {
  .reason__desc {
    width: 300px;
  }
}
@media (max-width: 767.98px) {
  .reason__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    width: 335px;
  }
}
.reason__list {
  margin-top: 59px;
}
@media (max-width: 991.98px) {
  .reason__list {
    margin-top: 20px;
  }
}
.reason__item {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .reason__item {
    gap: 20px;
  }
}
.reason__item--desc {
  margin-top: 8px;
  width: 319px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}
@media (max-width: 991.98px) {
  .reason__item--desc {
    width: 250px;
  }
}
.reason__item + .reason__item {
  margin-top: 40px;
}
@media (max-width: 991.98px) {
  .reason__item + .reason__item {
    margin-top: 10px;
  }
}
.reason__title {
  color: #2d3134;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 162.5%;
}

.letter {
  position: relative;
  margin-top: 184px;
  width: 100%;
  border-radius: 20px;
  background: #e8c400;
}
.letter__content {
  padding: 70px;
}
.letter__heading {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
.letter__desc {
  margin: 0 auto;
  width: 425px;
  color: rgba(255, 255, 255, 0.88);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 162.5%;
}
.letter__input {
  width: 450px;
  margin: 41px auto 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter__input input {
  height: 60px;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background: #fff;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
}
.letter__input input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}
.letter__input input:active {
  transform: scale(0.95);
}
.letter__input input:focus {
  border: 2px solid grey;
}
.letter__input input::placeholder {
  color: #b3b4b5;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
}
.letter__send {
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
}
.letter__send:hover {
  opacity: 0.9;
}
.letter__decor1, .letter__decor2 {
  position: absolute;
}
.letter__decor1 {
  left: 79px;
  top: -30px;
}
.letter__decor2 {
  right: 139px;
  bottom: 77px;
}

.notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 64px;
}
.notfound__separate {
  width: calc(100% + 50px);
  height: 1px;
  background-color: #333;
}
.notfound__desc {
  color: var(--Typography-2, #676a6c);
  font-size: 6.2rem;
  font-weight: 500;
  line-height: 111.29%;
}
.notfound__heading {
  margin-top: 19px;
  color: var(--Typography-1, #2d3134);
  font-size: 6.2rem;
  font-weight: 600;
  line-height: 111.29%; /**/
}

.hero {
  margin-top: 50px;
}
@media (max-width: 767.98px) {
  .hero {
    margin-top: 0;
  }
}
.hero__left {
  margin-top: 64px;
}
@media (max-width: 767.98px) {
  .hero__left {
    margin-top: 58px;
  }
}
.hero__heading {
  width: 453px;
  color: #2d3134;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 112.903%;
}
@media (max-width: 1199.98px) {
  .hero__heading {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .hero__heading {
    font-size: 4rem;
  }
}
.hero__desc {
  margin-top: 17px;
  width: 352px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
@media (max-width: 1199.98px) {
  .hero__desc {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .hero__desc {
    margin-top: 14px;
    font-size: 1.4rem;
  }
}
.hero__link {
  display: flex;
  align-items: center;
  margin-top: 51px;
  gap: 28px;
}
@media (max-width: 1199.98px) {
  .hero__link {
    gap: 150px;
  }
}
@media (max-width: 767.98px) {
  .hero__link {
    margin-top: 40px;
    gap: 20px;
  }
}
.hero__btn {
  width: 191px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  height: 58px;
}
@media (max-width: 767.98px) {
  .hero__btn {
    width: 161px;
    height: 58px;
  }
}
.hero__more {
  display: flex;
  align-items: center;
  gap: 13px;
}
.hero__media {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #ff7b29;
}
.hero__link-more {
  color: #4d4f56;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 162.5%;
}
.hero__images {
  position: relative;
}
@media (max-width: 767.98px) {
  .hero__images {
    scale: 0.8;
  }
}
.hero__image {
  display: block;
  position: relative;
  z-index: 2;
}
.hero__decor-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero__separate {
  margin-left: -30px;
  width: 462px;
  height: 2px;
  background: #1f1a1e;
}
.hero__right {
  width: 100%;
  position: relative;
  display: flex;
  gap: 53px;
}
@media (max-width: 1199.98px) {
  .hero__right {
    gap: 100px;
  }
}
@media (max-width: 991.98px) {
  .hero__right {
    gap: 10px;
  }
}
.hero__countdown {
  margin-top: 131px;
}
.hero__item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero__item + .hero__item {
  margin-top: 44px;
}
.hero__award-total {
  color: #0a192d;
  font-family: "Inter 18pt";
  font-size: 3rem;
  font-weight: 800;
  line-height: 133.333%;
}
.hero__award--desc {
  color: #777f8b;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
  white-space: nowrap;
}
.hero__icon {
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #ccc;
}
.hero__circle {
  width: 92px;
  height: 92px;
}
.hero__timer {
  position: absolute;
  top: 273px;
  left: -70px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  width: 163px;
  height: 202px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);
}
.hero__timer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.hero__total-trip {
  color: #0d1e3f;
  font-family: "Inter 18pt";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
}
.hero__trip-desc {
  color: #aeb4cf;
  font-family: "Inter 18pt";
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
}
.hero__search-list {
  display: flex;
  gap: 75px;
}
@media (max-width: 991.98px) {
  .hero__search-list {
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .hero__search-list {
    flex-direction: column;
    gap: 32px;
    padding-top: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 1199.98px) {
  .hero__wrap {
    gap: 30px;
  }
}
.hero__search {
  width: 749px;
  height: 114px;
  margin: 0 auto;
  flex-shrink: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background: #fff;
  box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);
}
.hero__search-title {
  color: #0a192d;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}
.hero__search-btn--button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 170px;
  height: 64px;
  border-radius: 8px;
  background: #132742;
  box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: "Inter 18pt";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 88.889%;
}
@media (max-width: 767.98px) {
  .hero__search-btn--button {
    width: 130px;
    height: 52px;
  }
}
@media (max-width: 767.98px) {
  .hero__search-btn {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 991.98px) {
  .hero__search {
    width: auto;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .hero__search {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 51px;
  }
}
.hero__item {
  margin-top: 16px;
}

.product {
  margin-top: 140px;
}
@media (max-width: 767.98px) {
  .product {
    margin-top: 60px;
  }
}
.product__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .product__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
.product__heading {
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
@media (max-width: 991.98px) {
  .product__heading {
    font-size: 3rem;
  }
}
.product__desc {
  width: 507px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;
}
@media (max-width: 991.98px) {
  .product__desc {
    width: 400px;
  }
}
.product__button {
  width: 191px;
  height: 66px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 100%;
}
.product__images {
  position: relative;
  width: 100%;
  height: 270px;
  border-radius: 12px 12px 0px 0px;
  background: #fff;
  box-shadow: 0px 24px 55px 0px rgba(51, 56, 56, 0.06);
}
.product__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product__item-content {
  padding: 20px 28px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  box-shadow: 0px 17px 55px 0px rgba(96, 100, 100, 0.05);
}
.product__price {
  color: #ff7b29;
  font-family: "Inter 18pt";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 133.333%;
}
.product__title {
  margin-top: 6px;
  color: #1f1d63;
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
}
.product__location {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__destination {
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}
.product__time {
  margin-top: 10px;
  display: flex;
  gap: 28px;
}
.product__date {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__durations {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__item {
  border-radius: 12px;
  transition: all 0.2s ease-in;
}
.product__item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: translateY(-10px);
}

.trending {
  margin-top: 138px;
}
@media (max-width: 991.98px) {
  .trending {
    margin-top: 100px;
  }
}
@media (max-width: 767.98px) {
  .trending {
    margin-top: 60px;
  }
}
.trending__top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .trending__top {
    flex-direction: column;
    gap: 30px;
  }
}
.trending__heading {
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
@media (max-width: 767.98px) {
  .trending__heading {
    font-size: 2.4rem;
  }
}
.trending__desc {
  margin-top: 16px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
@media (max-width: 767.98px) {
  .trending__desc {
    margin-top: 10px;
    font-size: 1.4rem;
  }
}
.trending__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .trending__right {
    gap: 10px;
  }
}
.trending__btn-right, .trending__btn-left {
  color: #505050;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}
@media (max-width: 767.98px) {
  .trending__btn-right, .trending__btn-left {
    width: 41px;
    height: 41px;
  }
}
.trending__btn-right:hover, .trending__btn-left:hover {
  color: #fff;
  background-color: #ff7b29;
}
.trending__item {
  width: 386px;
  height: 438px;
  border-radius: 16px;
  border: 1px solid #e6e6e6;
}
.trending__item--content {
  padding: 24px;
}
@media (max-width: 767.98px) {
  .trending__item {
    width: 335px;
    height: 438px;
  }
}
.trending__images {
  width: 100%;
  height: 190px;
  position: relative;
  flex-shrink: 0;
}
.trending__images img {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trending__title {
  margin-top: 18px;
  color: #2d3134;
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .trending__title {
    margin-top: 16px;
    font-size: 1.6rem;
  }
}
.trending__active {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.trending__place {
  color: #8a8a8a;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 140%;
  padding-right: 8px;
  border-right: 1px solid #e1e1e1;
}
.trending__activities {
  color: #8a8a8a;
  font-family: "Inter 18pt";
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 150%; /*  */
}
.trending__booking {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending__price {
  color: #2d3134;
  font-family: "Inter 18pt";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 133.333%;
}
.trending__logo {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.trending__logo img {
  margin-top: 5px;
}
.trending__logo--desc {
  color: #737979;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 162.5%;
}
.trending__btn {
  color: #30bbd7;
  border: 1px solid #30bbd7;
  font-family: "Inter 18pt";
  font-size: 14px;
  font-weight: 500;
  line-height: 14px; /* 100% */
  background: #fff;
}
.trending__btn:hover {
  background: #30bbd7;
  color: #fff;
}

.destination {
  margin-top: 138px;
}
@media (max-width: 991.98px) {
  .destination {
    margin-top: 100px;
  }
}
@media (max-width: 767.98px) {
  .destination {
    margin-top: 60px;
  }
}
.destination__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "destination__image1 destination__image1 destination__image1 destination__image3 destination__image3 destination__image3 destination__image3 destination__image4 destination__image4 destination__image4 destination__image4 destination__image4" "destination__image2 destination__image2 destination__image2 destination__image3 destination__image3 destination__image3 destination__image3 destination__image5 destination__image5 destination__image6 destination__image6 destination__image6";
}
@media (max-width: 1199.98px) {
  .destination__container {
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-areas: "destination__image1 destination__image1 destination__image1 destination__image1 destination__image1 destination__image3 destination__image3 destination__image3 destination__image3 destination__image3  destination__image3 destination__image3" "destination__image2 destination__image2 destination__image2 destination__image2 destination__image2 destination__image3 destination__image3 destination__image3 destination__image3 destination__image3  destination__image3 destination__image3" "destination__image4 destination__image4 destination__image4 destination__image4 destination__image4 destination__image4 destination__image4 destination__image4 destination__image4 destination__image4 destination__image4 destination__image4" "destination__image5 destination__image5 destination__image5 destination__image5 destination__image5 destination__image5 destination__image6 destination__image6 destination__image6 destination__image6 destination__image6 destination__image6";
  }
}
@media (max-width: 1199.98px) {
  .destination__container {
    grid-template-rows: 200px 200px 200px 200px;
  }
}
@media (max-width: 767.98px) {
  .destination__container {
    grid-template-rows: 150px 125px 177px 177px;
  }
}
.destination__image1 {
  grid-area: destination__image1;
  margin-right: 30px;
  margin-bottom: 30px;
  background: orange;
}
.destination__image2 {
  grid-area: destination__image2;
  background: orange;
  margin-right: 30px;
}
.destination__image3 {
  grid-area: destination__image3;
  background: orange;
}
.destination__image4 {
  margin-left: 30px;
  margin-bottom: 30px;
  grid-area: destination__image4;
  background: orange;
}
@media (max-width: 1199.98px) {
  .destination__image4 {
    margin-top: 30px;
    margin-left: 0;
  }
}
.destination__image5 {
  margin-left: 30px;
  margin-right: 30px;
  grid-area: destination__image5;
  background: orange;
}
@media (max-width: 1199.98px) {
  .destination__image5 {
    margin-left: 0;
  }
}
.destination__image6 {
  grid-area: destination__image6;
  background: orange;
}
.destination__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .destination__top {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
.destination__heading {
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
@media (max-width: 1199.98px) {
  .destination__heading {
    font-size: 4rem;
  }
}
@media (max-width: 767.98px) {
  .destination__heading {
    font-size: 2.4rem;
    line-height: 133.333%;
  }
}
.destination__desc {
  margin-top: 16px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
@media (max-width: 767.98px) {
  .destination__desc {
    width: 335px;
  }
}
.destination__link {
  width: 233px;
  height: 66px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
@media (max-width: 1199.98px) {
  .destination__link {
    width: 150px;
    height: 50px;
    font-size: 1.4rem;
  }
}
.destination__bottom {
  margin-top: 51px;
}
.destination__star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 28px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767.98px) {
  .destination__star {
    width: 31px;
    height: 20px;
  }
}
.destination__star--number {
  color: #ff7b29;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}
@media (max-width: 767.98px) {
  .destination__star--number {
    font-size: 1rem;
  }
}
.destination__image {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(36, 36, 40, 0.59) 100%);
  transition: all 0.2s ease;
}
.destination__name-place {
  color: #fff;
  text-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  font-family: "Inter 18pt";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 133.333%;
}
@media (max-width: 767.98px) {
  .destination__name-place {
    font-size: 1.2rem;
  }
}
.destination__place--desc {
  margin-top: 4px;
  color: #fff;
  font-family: "Inter 18pt";
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .destination__place--desc {
    font-size: 0.6rem;
  }
}
.destination__img {
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.destination__more {
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 767.98px) {
  .destination__more {
    width: 50px;
    height: 25px;
    font-size: 1rem;
  }
}
.destination__overlay {
  border-radius: 20px;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px); /* Làm mờ các phần tử phía sau */
}

.type {
  margin-top: 140px;
}
@media (max-width: 991.98px) {
  .type {
    margin-top: 100px;
  }
}
@media (max-width: 767.98px) {
  .type {
    margin-top: 80px;
  }
}
.type__heading {
  color: #2d3134;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
@media (max-width: 767.98px) {
  .type__heading {
    font-size: 2.4rem;
  }
}
.type__list {
  margin-top: 60px;
}
@media (max-width: 767.98px) {
  .type__list {
    margin-top: 30px;
  }
}
.type__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 240px;
  border-radius: 12px;
  border: 2px solid var(--Stock, #ececec);
  background: var(--White, #fff);
}
.type__item img {
  width: 68px;
  height: 68px;
}
.type__title {
  margin-top: 28px;
  color: #2d3134;
  font-family: "Inter 18pt";
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 100%;
}
.type__desc {
  margin-top: 18px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
}
.type__price {
  color: #ff7b29;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
}

.feedback {
  margin-top: 160px;
}
@media (max-width: 991.98px) {
  .feedback {
    margin-top: 100px;
  }
}
@media (max-width: 767.98px) {
  .feedback {
    margin-top: 80px;
  }
}
.feedback__avatar img {
  border-radius: 70px;
  border: 3px solid #fff;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.feedback__heading {
  margin-top: 60px;
  color: #2d3134;
  font-size: 4rem;
  font-weight: 600;
  line-height: 125%;
}
@media (max-width: 767.98px) {
  .feedback__heading {
    font-size: 2.4rem;
  }
}
.feedback__quote {
  width: 516px;
  color: #676a6c;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 500;
  line-height: 155.556%;
}
@media (max-width: 767.98px) {
  .feedback__quote {
    font-size: 1.4rem;
  }
}
.feedback__user {
  margin-top: 59px;
  display: flex;
  gap: 18px;
}
.feedback__name {
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}
.feedback__desc {
  margin-top: 2px;
  color: #747474;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.12px;
}
.feedback__rating {
  margin-top: 14px;
}
.feedback__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 22;
  border-radius: 50%;
  height: 400px;
}
.feedback__image img {
  position: absolute;
  top: 0;
  border-radius: 30%;
}
.feedback__decor {
  position: absolute;
  z-index: -1;
}

.article {
  margin-top: 140px;
}
@media (max-width: 767.98px) {
  .article {
    margin-top: 60px;
  }
}
.article__heading {
  color: #2d3134;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
@media (max-width: 767.98px) {
  .article__heading {
    font-size: 2.4rem;
  }
}
.article__desc {
  margin: 16px auto 0;
  width: 733px;
  color: #676a6c;
  text-align: center;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
@media (max-width: 991.98px) {
  .article__desc {
    width: 400px;
  }
}
@media (max-width: 767.98px) {
  .article__desc {
    width: 335px;
    font-size: 1.4rem;
  }
}
.article__content {
  margin-top: 60px;
}
@media (max-width: 767.98px) {
  .article__content {
    margin-top: 40px;
  }
}
.article__image {
  position: relative;
  border-radius: 12px;
  width: 100%;
  height: 510px;
}
.article__image img {
  position: absolute;
  border-radius: 12px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.article__title {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .article__title {
    margin-top: 16px;
    flex-direction: column;
  }
}
.article__title--heading {
  width: 359px;
  color: #2d3134;
  font-family: "Inter 18pt";
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 146.154%;
}
@media (max-width: 767.98px) {
  .article__title--heading {
    font-size: 2rem;
  }
}
.article__date {
  margin-top: 12px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 767.98px) {
  .article__date {
    font-size: 1.2rem;
  }
}
.article__left--desc {
  width: 412px;
  margin-top: 14px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 144.444%;
}
@media (max-width: 767.98px) {
  .article__left--desc {
    font-size: 1.4rem;
    width: 335px;
  }
}
@media (max-width: 991.98px) {
  .article__list {
    margin-top: 30px;
  }
}
.article__item {
  display: flex;
  gap: 36px;
}
.article__item img {
  object-fit: cover;
  width: 220px;
  height: 219px;
}
@media (max-width: 991.98px) {
  .article__item img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 767.98px) {
  .article__item img {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
  }
}
.article__item--title {
  width: 253px;
  color: #2d3134;
  font-family: "Inter 18pt";
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 145.455%;
}
@media (max-width: 991.98px) {
  .article__item--title {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .article__item--title {
    width: 250x;
  }
}
.article__item--desc {
  margin-top: 12px;
  width: 225px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
@media (max-width: 991.98px) {
  .article__item--desc {
    width: 300px;
  }
}
@media (max-width: 767.98px) {
  .article__item--desc {
    margin-top: 10px;
    width: 196px;
    font-size: 1.4rem;
  }
}
.article__item--date {
  margin-top: 51px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 767.98px) {
  .article__item--date {
    font-size: 1.2rem;
    margin-top: 16px;
  }
}
.article__item + .article__item {
  margin-top: 34px;
}
.article__separate {
  width: 122px;
  height: 1px;
  border: 2px dashed #ff7b29;
  margin: 30px auto 0;
}
@media (max-width: 767.98px) {
  .article__separate {
    margin: 16px auto 0;
  }
}

.about {
  height: 482px;
}
@media (max-width: 1399.98px) {
  .about {
    height: 392px;
  }
}
@media (max-width: 1199.98px) {
  .about {
    height: 292px;
  }
}
@media (max-width: 991.98px) {
  .about {
    height: 192px;
  }
}
@media (max-width: 767.98px) {
  .about {
    height: 132px;
  }
}
.about__slider {
  height: 590px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1399.98px) {
  .about__slider {
    height: 500px;
  }
}
@media (max-width: 1199.98px) {
  .about__slider {
    height: 400px;
  }
}
@media (max-width: 991.98px) {
  .about__slider {
    height: 300px;
  }
}
@media (max-width: 767.98px) {
  .about__slider {
    height: 240px;
  }
}
.about__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  z-index: 1;
}
.about__heading {
  position: relative;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #ff7b29;
  text-align: center;
  font-family: Poppins;
  font-size: 13.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110.294%;
  white-space: nowrap;
}
@media (max-width: 1399.98px) {
  .about__heading {
    font-size: 10.6rem;
  }
}
@media (max-width: 1199.98px) {
  .about__heading {
    font-size: 8rem;
  }
}
@media (max-width: 991.98px) {
  .about__heading {
    font-size: 6rem;
  }
}
@media (max-width: 767.98px) {
  .about__heading {
    font-size: 4rem;
  }
}
.about__intro {
  margin-top: 140px;
}
@media (max-width: 1399.98px) {
  .about__intro {
    margin-top: 100px;
  }
}
@media (max-width: 1199.98px) {
  .about__intro {
    margin-top: 20px;
  }
}
.about__intro--heading {
  margin-top: 10px;
  width: 515px;
  color: #2d3134;
  font-family: Poppins;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 112.903%;
}
@media (max-width: 1199.98px) {
  .about__intro--heading {
    width: 415px;
    font-size: 5rem;
  }
}
@media (max-width: 991.98px) {
  .about__intro--heading {
    width: 315px;
    font-size: 3rem;
  }
}
@media (max-width: 767.98px) {
  .about__intro--heading {
    width: 100%;
    font-size: 2rem;
  }
}
.about__intro--image {
  width: 870px;
  height: 482px;
  flex-shrink: 0;
  border-radius: 24px;
  background: lightgray 0px 0px/100% 120.332% no-repeat;
}
@media (max-width: 1399.98px) {
  .about__intro--image {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .about__intro--image {
    height: 300px;
  }
}
.about__desc {
  margin-top: 20px;
  width: 528px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
@media (max-width: 1199.98px) {
  .about__desc {
    width: 428px;
    font-size: 1.4rem;
  }
}
@media (max-width: 991.98px) {
  .about__desc {
    width: 315px;
    font-size: 1.4rem;
  }
}
@media (max-width: 767.98px) {
  .about__desc {
    width: 100%;
    font-size: 1.4rem;
  }
}
.about__text {
  margin-top: 88px;
  color: #ff7b29;
  font-family: "Inter 18pt";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 133.333%;
}
@media (max-width: 991.98px) {
  .about__text {
    margin-top: 20px;
  }
}
@media (max-width: 767.98px) {
  .about__text {
    font-size: 2rem;
  }
}

.guides {
  margin-top: 140px;
}
@media (max-width: 767.98px) {
  .guides {
    margin-top: 60px;
  }
}
.guides__heading {
  color: #2d3134;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
.guides__list {
  margin-top: 60px;
}
@media (max-width: 767.98px) {
  .guides__list {
    margin-top: 40px;
  }
}
.guides__image {
  position: relative;
  width: 370px;
  border-radius: 12px;
  height: 306px;
  background: lightgray -143px -3.889px/177.297% 142.919% no-repeat;
}
.guides__image img {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1199.98px) {
  .guides__image {
    width: 270px;
    min-height: 206px;
  }
}
@media (max-width: 991.98px) {
  .guides__image {
    width: 220px;
    min-height: 156px;
  }
}
@media (max-width: 767.98px) {
  .guides__image {
    width: 100%;
    min-height: 277px;
  }
}
.guides__item--content {
  margin-top: 20px;
  display: flex;
  gap: 147px;
}
@media (max-width: 1199.98px) {
  .guides__item--content {
    gap: 90px;
  }
}
@media (max-width: 991.98px) {
  .guides__item--content {
    gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .guides__item--content {
    justify-content: space-between;
  }
}
.guides__item--socials {
  display: flex;
  gap: 12px;
}
.guides__item--socials:hover {
  opacity: 0.8;
}
.guides__name {
  color: #2d3134;
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .guides__name {
    font-size: 1.4rem;
  }
}
@media (max-width: 767.98px) {
  .guides__name {
    font-size: 1.6rem;
  }
}
.guides__desc {
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}
@media (max-width: 991.98px) {
  .guides__desc {
    font-size: 0.8rem;
  }
}
@media (max-width: 767.98px) {
  .guides__desc {
    font-size: 1.2rem;
  }
}

.destination__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  z-index: 0;
}
@media (max-width: 991.98px) {
  .destination__background {
    height: 500px;
  }
}
@media (max-width: 767.98px) {
  .destination__background {
    height: 240px;
  }
}
.destination__slider {
  width: 100%;
  height: 100%;
}
.destination__cover {
  height: 520px;
}
@media (max-width: 1199.98px) {
  .destination__cover {
    height: 420px;
  }
}
@media (max-width: 767.98px) {
  .destination__cover {
    height: 132px;
  }
}
.destination__heading-cover {
  width: 100%;
  height: calc(100% - 108px);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.destination__heading {
  color: #ff7b29;
  font-size: 13.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110.294%;
}
@media (max-width: 1199.98px) {
  .destination__heading {
    font-size: 8rem;
  }
}
@media (max-width: 991.98px) {
  .destination__heading {
    font-size: 6rem;
  }
}
@media (max-width: 767.98px) {
  .destination__heading {
    margin-top: 40px;
    font-size: 3rem;
  }
}
.destination__desc {
  color: #fff;
  text-align: center;
  font-family: "Inter 18pt";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 133.333%;
}
@media (max-width: 991.98px) {
  .destination__desc {
    font-size: 2rem;
  }
}
@media (max-width: 767.98px) {
  .destination__desc {
    margin: 3px;
    font-size: 1.4rem;
  }
}
.destination__content {
  margin-top: 140px;
}
@media (max-width: 991.98px) {
  .destination__content {
    margin-top: 40px;
  }
}
.destination__image {
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 8px;
}
.destination__img {
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.destination__item--name {
  margin-top: 20px;
  color: #2d3134;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 133.333%;
}
@media (max-width: 767.98px) {
  .destination__item--name {
    font-size: 1.8rem;
  }
}
.destination__item {
  padding: 10px;
  border-radius: 8px;
  transition: all 0.2s ease;
}
.destination__item:hover {
  box-shadow: 8px 28px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.destination__page {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .destination__page {
    margin-top: 40px;
  }
}

.blog {
  margin-top: 56px;
}
.blog__introduce {
  position: relative;
  z-index: 1;
}
.blog__image--decor {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.blog__heading {
  color: #2d3134;
  text-align: center;
  font-family: Poppins;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 112.903%;
}
.blog__popular {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
.blog__image-main {
  position: relative;
  min-width: 700px;
  height: 416px;
  border-radius: 10px;
  background: lightgray 0px -25.886px/100% 112.686% no-repeat;
}
.blog__image-main--img {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.blog__image--title {
  width: 574px;
  margin-top: 24px;
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
.blog__list--content {
  padding: 30px 30px 44px 30px;
}
.blog__popular--list {
  width: 488px;
  height: 540px;
  border-radius: 10px;
  background: #ececec;
}
.blog__search {
  display: flex;
  align-items: center;
  gap: 20px;
}
.blog__search--input {
  padding: 20px;
  width: 291px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid #ececec;
  background: #fff;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
.blog__search--input::placeholder {
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
.blog__recent {
  height: 310px;
  margin-top: 40px;
  overflow-y: auto;
}
.blog__recent--title {
  margin-top: 40px;
  color: #2d3134;
  font-family: "Inter 18pt";
  font-size: 24px;
  font-weight: 600;
  line-height: 133.333%;
  margin-bottom: 30px;
}
.blog__item {
  display: flex;
  gap: 20px;
}
.blog__item--image {
  position: relative;
  width: 100px;
  height: 90px;
  border-radius: 8px;
  background: lightgray 0px -55.481px/100% 166.578% no-repeat;
}
.blog__item--img {
  position: absolute;
  border-radius: 8px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__item--title {
  width: 308px;
  color: #2d3134;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
}
.blog__item + .blog__item {
  margin-top: 30px;
}
.blog___list {
  overflow-y: hidden;
}
.blog__main {
  margin-top: 112px;
}
.blog__image {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background: lightgray 50%/cover no-repeat;
}
.blog__img {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.blog__content {
  margin-top: 20px;
}
.blog__title {
  width: 370px;
  color: #2d3134;
  font-family: "Inter 18pt";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 133.333%;
}
.blog__desc {
  margin-top: 16px;
  max-width: 370px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
.blog__link {
  margin-top: 20px;
  display: inline-block;
  color: #ff7b29;
  font-size: 2rem;
  font-weight: 500;
  line-height: 150%;
}
.blog__link:hover {
  text-decoration: underline;
}
.blog__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.header {
  position: relative;
  z-index: 100;
  padding: 30px 0;
  background: #fff transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  position: fixed;
  inset: 0 0 0 35%;
  background: #fff;
  padding: 40px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 1s ease;
  border-radius: 20px 0px 0px 20px;
}
.header__menu-dropdown {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.header__menu-dropdown .header__link {
  font-size: 2rem;
}
.header__button {
  display: flex;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .header__btn {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 34px;
}
@media (max-width: 991.98px) {
  .nav__list {
    display: none;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(5px); /* Làm mờ các phần tử phía sau */
}

.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.footer {
  margin-top: 110px;
  padding: 30px;
}
.footer__title {
  color: #020000;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}
.footer__wrap {
  margin-top: 23px;
}
.footer__link {
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 316.667%;
  cursor: pointer;
}
.footer__link:hover {
  text-decoration: underline;
  color: rgb(30, 67, 67);
}
.footer__touch {
  width: 200px;
  color: #676a6c;
  font-family: "Inter 18pt";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}
.footer__email {
  color: #31c3e0;
  font-family: "Inter 18pt";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 100%;
}
.footer__separate {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background: rgba(210, 208, 192, 0.21);
}
.footer__nav {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .footer__nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.footer__social {
  display: flex;
  gap: 20px;
}
.footer__icon-wrap {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  transition: all 0.2s ease;
}
.footer__icon-wrap:hover {
  background: #ff7b29;
}

/*# sourceMappingURL=main.css.map */
