.hero {
  margin-top: 50px;
  height: 100vh;
  &__left {
    margin-top: 64px;
  }
  &__heading {
    width: 453px;
    color: #2d3134;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 112.903%;
  }
  &__desc {
    margin-top: 17px;
    width: 352px;
    color: #676a6c;
    font-family: "Inter 18pt";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 162.5%;
  }
  &__link {
    display: flex;
    align-items: center;
    margin-top: 51px;
    gap: 28px;
  }
  &__btn {
    width: 191px;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
  }
  &__more {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  &__media {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ff7b29;
  }
  &__link-more {
    color: #4d4f56;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 162.5%;
  }
  &__images {
    position: relative;
  }
  &__image {
    display: block;
    position: relative;
    z-index: 2;
  }
  &__decor-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__separate {
    margin-left: -30px;
    width: 462px;
    height: 2px;
    background: #1f1a1e;
  }
  &__right {
    position: relative;
    display: flex;
    gap: 53px;
  }
  &__countdown {
    margin-top: 131px;
  }
  &__item {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__item + &__item {
    margin-top: 44px;
  }
  &__award-total {
    color: #0a192d;
    font-family: "Inter 18pt";
    font-size: 3rem;
    font-weight: 800;
    line-height: 133.333%;
  }
  &__award--desc {
    color: #777f8b;
    font-family: "Inter 18pt";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }
  &__icon {
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #ccc;
  }
  &__circle {
    width: 92px;
    height: 92px;
  }
  &__timer {
    position: absolute;
    top: 273px;
    left: -70px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    width: 163px;
    height: 202px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);
  }
  &__timer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }
  &__total-trip {
    color: #0d1e3f;
    font-family: "Inter 18pt";
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
  }
  &__trip-desc {
    color: #aeb4cf;
    font-family: "Inter 18pt";
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 100%;
  }
}
.timer__desc {
  color: #a5a8b4;
  font-family: "Inter 18pt";
  font-size: 0.6rem;
  font-weight: 500;
}
.timer__number {
  color: #0d1e3f;
  font-family: "Inter 18pt";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 122.222%;
}
