@use "../abstracts";
.hero {
  margin-top: 50px;
  @include abstracts.breakpoint(md) {
    margin-top: 0;
  }
  &__left {
    margin-top: 64px;
    @include abstracts.breakpoint(md) {
      margin-top: 58px;
    }
  }
  &__heading {
    width: 453px;
    color: #2d3134;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 112.903%;
    @include abstracts.breakpoint(xl) {
      width: 100%;
    }
    @include abstracts.breakpoint(md) {
      font-size: 4rem;
    }
  }

  &__desc {
    margin-top: 17px;
    width: 352px;
    color: #676a6c;
    font-family: "Inter 18pt";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 162.5%;
    @include abstracts.breakpoint(xl) {
      width: 100%;
    }
    @include abstracts.breakpoint(md) {
      margin-top: 14px;
      font-size: 1.4rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin-top: 51px;
    gap: 28px;
    @include abstracts.breakpoint(xl) {
      gap: 150px;
    }
    @include abstracts.breakpoint(md) {
      margin-top: 40px;
      gap: 20px;
    }
  }
  &__btn {
    width: 191px;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    height: 58px;
    @include abstracts.breakpoint(md) {
      width: 161px;
      height: 58px;
    }
  }
  &__more {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  &__media {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ff7b29;
  }
  &__link-more {
    color: #4d4f56;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 162.5%;
  }
  &__images {
    position: relative;
    @include abstracts.breakpoint(md) {
      scale: 0.8;
    }
  }
  &__image {
    display: block;
    position: relative;
    z-index: 2;
  }
  &__decor-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__separate {
    margin-left: -30px;
    width: 462px;
    height: 2px;
    background: #1f1a1e;
  }
  &__right {
    width: 100%;
    position: relative;
    display: flex;
    gap: 53px;
    @include abstracts.breakpoint(xl) {
      gap: 100px;
    }
    @include abstracts.breakpoint(lg) {
      gap: 10px;
    }
  }
  &__countdown {
    margin-top: 131px;
  }
  &__item {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__item + &__item {
    margin-top: 44px;
  }
  &__award-total {
    color: #0a192d;
    font-family: "Inter 18pt";
    font-size: 3rem;
    font-weight: 800;
    line-height: 133.333%;
  }
  &__award--desc {
    color: #777f8b;
    font-family: "Inter 18pt";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
    white-space: nowrap;
  }
  &__icon {
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #ccc;
  }
  &__circle {
    width: 92px;
    height: 92px;
  }
  &__timer {
    position: absolute;
    top: 273px;
    left: -70px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    width: 163px;
    height: 202px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);
  }
  &__timer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }
  &__total-trip {
    color: #0d1e3f;
    font-family: "Inter 18pt";
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
  }
  &__trip-desc {
    color: #aeb4cf;
    font-family: "Inter 18pt";
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 100%;
  }
  &__search-list {
    display: flex;
    gap: 75px;
    @include abstracts.breakpoint(lg) {
      gap: 30px;
    }
    @include abstracts.breakpoint(md) {
      flex-direction: column;
      gap: 32px;
      padding-top: 20px;
      padding-left: 20px;
    }
  }
  &__wrap {
    @include abstracts.breakpoint(xl) {
      gap: 30px;
    }
  }
  &__search {
    width: 749px;
    height: 114px;
    margin: 0 auto;
    flex-shrink: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: #fff;
    box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);
    &-title {
      color: #0a192d;
      font-family: "Inter 18pt";
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 100%;
    }
    &-btn--button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      width: 170px;
      height: 64px;
      border-radius: 8px;
      background: #132742;
      box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.2);
      color: #fff;
      font-family: "Inter 18pt";
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 88.889%;
      @include abstracts.breakpoint(md) {
        width: 130px;
        height: 52px;
      }
    }
    &-btn {
      @include abstracts.breakpoint(md) {
        padding-bottom: 20px;
        padding-left: 20px;
      }
    }
    @include abstracts.breakpoint(lg) {
      width: auto;
      height: auto;
    }
    @include abstracts.breakpoint(md) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 51px;
    }
  }
  &__item {
    margin-top: 16px;
  }
}
.timer__desc {
  color: #a5a8b4;
  font-family: "Inter 18pt";
  font-size: 0.6rem;
  font-weight: 500;
}
.timer__number {
  color: #0d1e3f;
  font-family: "Inter 18pt";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 122.222%;
}
// product
.product {
  margin-top: 140px;
  @include abstracts.breakpoint(md) {
    margin-top: 60px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include abstracts.breakpoint(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }
  }
  &__heading {
    color: #2d3134;
    font-size: 4rem;
    font-weight: 700;
    line-height: 125%;
    @include abstracts.breakpoint(lg) {
      font-size: 3rem;
    }
  }
  &__desc {
    width: 507px;
    color: #676a6c;
    font-family: "Inter 18pt";
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
    @include abstracts.breakpoint(lg) {
      width: 400px;
    }
  }
  &__button {
    width: 191px;
    height: 66px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 100%;
  }
  &__images {
    position: relative;
    width: 100%;
    height: 270px;
    border-radius: 12px 12px 0px 0px;
    background: #fff;
    box-shadow: 0px 24px 55px 0px rgba(51, 56, 56, 0.06);
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__item-content {
    padding: 20px 28px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 0px 17px 55px 0px rgba(96, 100, 100, 0.05);
  }
  &__price {
    color: #ff7b29;
    font-family: "Inter 18pt";
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 133.333%;
  }
  &__title {
    margin-top: 6px;
    color: #1f1d63;
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
  }
  &__location {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__destination {
    color: #676a6c;
    font-family: "Inter 18pt";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }
  &__time {
    margin-top: 10px;
    display: flex;
    gap: 28px;
  }
  &__date {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__durations {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__item {
    border-radius: 12px;
    transition: all 0.2s ease-in;
    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      transform: translateY(-10px);
    }
  }
}
.slick-slide {
  padding: 0 10px; /* Khoảng cách giữa các item */
}
.slider-container {
  margin-top: 30px;
}
.reason {
  margin-top: 142px;
  @include abstracts.breakpoint(md) {
    margin-top: 60px;
  }
  &__img-wrap {
    position: relative;
    padding-top: 100%;
    height: 518px;
  }
  &__img {
    border-radius: 64px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__heading {
    margin-top: 19px;
    color: #2d3134;
    font-size: 4rem;
    font-weight: 700;
    line-height: 125%;
    @include abstracts.breakpoint(md) {
      margin-top: 0;
      font-size: 2.4rem;
    }
  }
  &__desc {
    width: 493px;
    margin-top: 16px;
    color: #676a6c;
    font-family: "Inter 18pt";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 162.5%;
    @include abstracts.breakpoint(lg) {
      width: 300px;
    }
    @include abstracts.breakpoint(md) {
      margin-top: 10px;
      font-size: 1.4rem;
      width: 335px;
    }
  }
  &__list {
    margin-top: 59px;
    @include abstracts.breakpoint(lg) {
      margin-top: 20px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 30px;
    @include abstracts.breakpoint(lg) {
      gap: 20px;
    }
    &--desc {
      margin-top: 8px;
      width: 319px;
      color: #676a6c;
      font-family: "Inter 18pt";
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 142.857%;
      @include abstracts.breakpoint(lg) {
        width: 250px;
      }
    }
  }
  &__item + &__item {
    margin-top: 40px;
    @include abstracts.breakpoint(lg) {
      margin-top: 10px;
    }
  }
  &__title {
    color: #2d3134;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 162.5%;
  }
}
.trending {
  margin-top: 138px;
  &__top {
    display: flex;
    justify-content: space-between;
    @include abstracts.breakpoint(md) {
      flex-direction: column;
      gap: 30px;
    }
  }
  &__heading {
    color: #2d3134;
    font-size: 4rem;
    font-weight: 700;
    line-height: 125%;
    @include abstracts.breakpoint(md) {
      font-size: 2.4rem;
    }
  }
  &__desc {
    margin-top: 16px;
    color: #676a6c;
    font-family: "Inter 18pt";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 162.5%;
    @include abstracts.breakpoint(md) {
      margin-top: 10px;
      font-size: 1.4rem;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
    @include abstracts.breakpoint(md) {
      gap: 10px;
    }
  }
  &__btn-right,
  &__btn-left {
    color: #505050;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    @include abstracts.breakpoint(md) {
      width: 41px;
      height: 41px;
    }
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    &:hover {
      color: #fff;
      background-color: #ff7b29;
    }
  }
  &__item {
    width: 386px;
    height: 438px;
    border-radius: 16px;
    border: 1px solid #e6e6e6;
    &--content {
      padding: 24px;
    }
    @include abstracts.breakpoint(md) {
      width: 335px;
      height: 438px;
    }
  }
  &__images {
    width: 100%; // Set width of the container
    height: 190px; // Set height of the container
    position: relative;
    flex-shrink: 0; // Prevent the container from shrinking

    & img {
      border-radius: 12px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%; // Make the image fill the container’s width
      height: 100%; // Make the image fill the container’s height
      object-fit: cover; // Ensure the image covers the container while maintaining its aspect ratio
    }
  }
  &__title {
    margin-top: 18px;
    color: #2d3134;
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
    @include abstracts.breakpoint(md) {
      margin-top: 16px;
      font-size: 1.6rem;
    }
  }
  &__active {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }
  &__place {
    color: #8a8a8a;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 140%;
    padding-right: 8px;
    border-right: 1px solid #e1e1e1;
  }
  &__activities {
    color: #8a8a8a;
    font-family: "Inter 18pt";
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%; /*  */
  }
  &__booking {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price {
    color: #2d3134;
    font-family: "Inter 18pt";
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 133.333%;
  }
  &__logo {
    margin-top: 5px;
    display: flex;
    align-items: center;
    & img {
      margin-top: 5px;
    }
    &--desc {
      color: #737979;
      font-family: "Inter 18pt";
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 162.5%;
    }
  }
  &__btn {
    color: #30bbd7;
    border: 1px solid #30bbd7;
    font-family: "Inter 18pt";
    font-size: 14px;
    font-weight: 500;
    line-height: 14px; /* 100% */
    background: #fff;
    &:hover {
      background: #30bbd7;
      color: #fff;
    }
  }
}
